In [33]:
import joblib

In [34]:
art = joblib.load(r"C:\Users\91948\Downloads\BKs\Projects\personalized_health_insurance_premium_estimator\artifacts\insurance_premium_pipeline_rest.joblib")

In [59]:
import pandas as pd

df = pd.DataFrame(data=0,index=[0],columns=art['model_data']['feature_names'])
df

,age,number_of_dependants,income_lakhs,insurance_plan,genetical_risk,total_risk_score,gender_Male,region_Northwest,region_Southeast,region_Southwest,marital_status_Unmarried,bmi_category_Obesity,bmi_category_Overweight,bmi_category_Underweight,smoking_status_Occasional,smoking_status_Regular,employment_status_Salaried,employment_status_Self-Employed
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [60]:
df.columns

Index(['age', 'number_of_dependants', 'income_lakhs', 'insurance_plan',
       'genetical_risk', 'total_risk_score', 'gender_Male', 'region_Northwest',
       'region_Southeast', 'region_Southwest', 'marital_status_Unmarried',
       'bmi_category_Obesity', 'bmi_category_Overweight',
       'bmi_category_Underweight', 'smoking_status_Occasional',
       'smoking_status_Regular', 'employment_status_Salaried',
       'employment_status_Self-Employed'],
      dtype='object')

In [61]:
df[['age', 'number_of_dependants', 'income_lakhs', 'insurance_plan','genetical_risk', 'total_risk_score']] = [29,2,6,1,0,6,]

In [62]:
df

,age,number_of_dependants,income_lakhs,insurance_plan,genetical_risk,total_risk_score,gender_Male,region_Northwest,region_Southeast,region_Southwest,marital_status_Unmarried,bmi_category_Obesity,bmi_category_Overweight,bmi_category_Underweight,smoking_status_Occasional,smoking_status_Regular,employment_status_Salaried,employment_status_Self-Employed
0,29,2,6,1,0,6,0,0,0,0,0,0,0,0,0,0,0,0

In [63]:
df[['gender_Male', 'region_Northwest',
       'region_Southeast', 'region_Southwest', 'marital_status_Unmarried',
       'bmi_category_Obesity', 'bmi_category_Overweight',
       'bmi_category_Underweight', 'smoking_status_Occasional',
       'smoking_status_Regular', 'employment_status_Salaried',
       'employment_status_Self-Employed']] = [0,0,1,0,0,1,0,0,0,1,1,0]

In [64]:
df

,age,number_of_dependants,income_lakhs,insurance_plan,genetical_risk,total_risk_score,gender_Male,region_Northwest,region_Southeast,region_Southwest,marital_status_Unmarried,bmi_category_Obesity,bmi_category_Overweight,bmi_category_Underweight,smoking_status_Occasional,smoking_status_Regular,employment_status_Salaried,employment_status_Self-Employed
0,29,2,6,1,0,6,0,0,1,0,0,1,0,0,0,1,1,0

In [70]:
m = art['model_data']['trained_model']
mms = art['scaler_data']['scaler_object']

In [71]:
m.predict(df.iloc[[0]])

array([42155.36], dtype=float32)

In [76]:
scaled_cols = art['scaler_data']['scaled_columns']
scaled_cols

['age',
 'number_of_dependants',
 'income_level',
 'income_lakhs',
 'insurance_plan',
 'genetical_risk',
 'total_risk_score']

In [74]:
df['income_level'] = None

In [77]:
mms.transform(df[scaled_cols])

array([[0.06521739, 0.4       ,        nan, 0.05050505, 0.        ,
        0.        , 0.42857143]])

In [78]:
df[scaled_cols] = mms.transform(df[scaled_cols])

In [79]:
df

,age,number_of_dependants,income_lakhs,insurance_plan,genetical_risk,total_risk_score,gender_Male,region_Northwest,region_Southeast,region_Southwest,marital_status_Unmarried,bmi_category_Obesity,bmi_category_Overweight,bmi_category_Underweight,smoking_status_Occasional,smoking_status_Regular,employment_status_Salaried,employment_status_Self-Employed,income_level
0,0.065217,0.4,0.050505,0.0,0.0,0.428571,0,0,1,0,0,1,0,0,0,1,1,0,NaN

In [84]:
df.drop('income_level',axis=1,inplace=True)

In [85]:
df

,age,number_of_dependants,income_lakhs,insurance_plan,genetical_risk,total_risk_score,gender_Male,region_Northwest,region_Southeast,region_Southwest,marital_status_Unmarried,bmi_category_Obesity,bmi_category_Overweight,bmi_category_Underweight,smoking_status_Occasional,smoking_status_Regular,employment_status_Salaried,employment_status_Self-Employed
0,0.065217,0.4,0.050505,0.0,0.0,0.428571,0,0,1,0,0,1,0,0,0,1,1,0

In [86]:
m.predict(df.iloc[[0]])

array([16060.849], dtype=float32)

In [22]:
temp = [ 'No Disease', 'Diabetes', 'High Blood Pressure', 'Thyroid', 
                        'Heart Disease', 'Diabetes & High Blood Pressure', 'Diabetes & Thyroid', 
                        'Diabetes & Heart Disease', 'High Blood Pressure & Heart Disease']

risk_score_dict = {
    'heart disease' : 8,
'diabetes' : 6,
'high blood pressure' : 6,
'thyroid' : 5,
'no disease' : 0,
None : 0
}

# for i in temp:
#     medical_history = i
#     t = medical_history.lower().split(' & ')
#     for j in t:
#         if j in risk_score_dict:
#             print('Yes',j)

medical_history = 'High Blood Pressure & Heart Disease'
t = medical_history.lower().split(' & ')
t

['high blood pressure', 'heart disease']

In [23]:
for j in t:
    print(risk_score_dict[j])

6
8

In [24]:
medical_history = 'Heart Disease'
medical_history.lower().split(' & ')

['heart disease']