## Data Import

In [40]:
import os
import pandas as pd

In [41]:
# Switching to the source directory

parent_dir = os.path.abspath(os.path.join(os.getcwd(), "../"))
parent_dir
print(parent_dir)

C:\Users\91948\Downloads\BKs\Projects\personalized_health_insurance_premium_estimator

In [42]:
# Reading the data

df = pd.read_excel(fr'{parent_dir}\data\premiums.xlsx',sheet_name='Sheet1')

In [43]:
df.shape

(50000, 13)

### Data Split

In [44]:
# Filter the DataFrame to include only rows where Age is less than or equal to 25
df_young = df[df['Age'] <= 25]

# Reset the index of the filtered DataFrame without adding the old index as a column
df_young.reset_index(drop=True,inplace=True)

In [45]:
# Filter the DataFrame to include only rows where Age is greater than 25
df_rest = df[df['Age'] > 25]

# Reset the index of the filtered DataFrame without adding the old index as a column
df_rest.reset_index(drop=True,inplace=True)

### Preview Data

In [46]:
# Display the filtered DataFrame
df_young.head()

,Age,Gender,Region,Marital_status,Number Of Dependants,BMI_Category,Smoking_Status,Employment_Status,Income_Level,Income_Lakhs,Medical History,Insurance_Plan,Annual_Premium_Amount
0,18,Male,Northeast,Unmarried,0,Overweight,Regular,Self-Employed,> 40L,99,High blood pressure,Silver,13365
1,22,Female,Northwest,Unmarried,0,Underweight,No Smoking,Freelancer,<10L,3,No Disease,Silver,11050
2,21,Female,Southeast,Unmarried,0,Normal,Regular,Salaried,> 40L,97,No Disease,Silver,11857
3,25,Male,Southeast,Unmarried,0,Normal,No Smoking,Freelancer,10L - 25L,15,No Disease,Bronze,5684
4,20,Male,Southeast,Unmarried,2,Overweight,No Smoking,Freelancer,10L - 25L,14,No Disease,Bronze,5712

In [47]:
df_young.shape

(20096, 13)

In [48]:
# Display the filtered DataFrame
df_rest.head()

,Age,Gender,Region,Marital_status,Number Of Dependants,BMI_Category,Smoking_Status,Employment_Status,Income_Level,Income_Lakhs,Medical History,Insurance_Plan,Annual_Premium_Amount
0,26,Male,Northwest,Unmarried,0,Normal,No Smoking,Salaried,<10L,6,Diabetes,Bronze,9053
1,29,Female,Southeast,Married,2,Obesity,Regular,Salaried,<10L,6,Diabetes,Bronze,16339
2,49,Female,Northeast,Married,2,Normal,No Smoking,Self-Employed,10L - 25L,20,High blood pressure,Silver,18164
3,30,Female,Southeast,Married,3,Normal,No Smoking,Salaried,> 40L,77,No Disease,Gold,20303
4,56,Male,Northeast,Married,3,Obesity,Occasional,Self-Employed,10L - 25L,14,Diabetes,Bronze,15610

In [49]:
df_rest.shape

(29904, 13)

### Save results

In [52]:
# Export the DataFrame of users with Age <= 25 to an Excel file
df_young.to_excel(fr'{parent_dir}\data\premiums_young.xlsx',sheet_name='v1',index = False)

# Export the DataFrame of users with Age > 25 to an Excel file
df_rest.to_excel(fr'{parent_dir}\data\premiums_rest.xlsx',sheet_name='v1',index = False)